* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Verhindert, dass Padding und Border die Größe beeinflussen */
    background-color: gainsboro;
}

body, html {
    height: 100%; /* Setzt die Höhe des Body und HTML auf 100% des Viewports */
}

header {
    text-align: center;
    margin-top: 20px;
}

#orientation-button {
    position: fixed;
    top: 10px;
    right: 10px;
    text-align: center;
    margin-top: 40px;
}

#rotationData {
    position: fixed;
    top: 100px;
    left: 10px;
}

#orientationData {
    position: fixed; /* Stellt sicher, dass die Orientierung immer oben auf der Seite bleibt */
    top: 10px;
    left: 10px;
    color: white;
    font-size: 18px;
    z-index: 10; /* Damit es über dem Bild bleibt */
    padding: 10px;
    border-radius: 5px;
}

#panorama-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;  /* 70% der Breite des Viewports */
    height: 50vh;  /* 70% der Höhe des Viewports */
    background-image: url('Zimmer.jpeg');
    background-size: cover;
    background-position: center;
    perspective: 1000px;
}

