* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* prevents padding and border from influencing the size */
}

body, html {
    height: 100%; /* of viewport  */
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Three columns that are all the same size */
    grid-template-rows: repeat(3, auto); /* Three rows with dynamic height */
    gap: 10px; 
    width: 100%; 
    margin: auto; /* centers the grid */
    background-color: #e0e0e0;
    padding: 10px; /* distance in the container */
}

.grid-container > div {
    padding: 20px;
    border: 2px solid #4CAF50; 
    box-sizing: border-box; /* includes border in the width */
}

#headerDiv {
    background-color: aquamarine;
    grid-column: 2;
    grid-row: 1;
}

#buttonDiv {
    background-color: navy;
    grid-column: 2;
    grid-row: 2;
}

#orientationData {
    background-color: #fafad2;
    grid-row: 2;
    grid-column: 1;
}

#rotationData {
    background-color: #fafad2;
    grid-row: 3;
    grid-column: 1;
}

#container {
    background-color: blueviolet;
    width: 60vw;
    height: 60vh;
    grid-row: 3;
    grid-column: 2;
    overflow: hidden;
    position: relative;
}

#image {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
}

#request {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 10;
}