* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Verhindert, dass Padding und Border die Größe beeinflussen */
}

body, html {
    height: 100%; /* Setzt die Höhe des Body und HTML auf 100% des Viewports */
}

header {
    text-align: center;
    margin-top: 20px;
}

#orientation-button {
    text-align: center;
    margin-top: 40px;
}

#orientationData {
    position: fixed; /* Stellt sicher, dass die Orientierung immer oben auf der Seite bleibt */
    top: 10px;
    left: 10px;
    color: white;
    font-size: 18px;
    z-index: 10; /* Damit es über dem Bild bleibt */
    background: rgba(0, 0, 0, 0.5); /* Etwas Hintergrund, um Text sichtbar zu machen */
    padding: 10px;
    border-radius: 5px;
}

#image-container {
    width: 100%;
    height: 100vh; /* Das Bild soll den gesamten Bildschirm ausfüllen */
    display: flex;
    justify-content: center;
    align-items: center;
}

#panorama {
    width: 100%; /* Bild nimmt die volle Breite ein */
    height: 100%; /* Bild nimmt die volle Höhe des Viewports ein */
    object-fit: cover; /* Bild wird so skaliert, dass es den Container ausfüllt */
}
