* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* prevents padding and border from influencing the size */
}

body, html {
    height: 100%; /* of viewport  */
}

#headerDiv {
    background-color: aquamarine;
    grid-column: 2;
    grid-row: 1;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Three columns that are all the same size */
    grid-template-rows: repeat(3, auto); /* Three rows with dynamic height */
    gap: 10px; 
    width: 100%; 
    margin: auto; /* centers the grid */
    background-color: #e0e0e0;
    padding: 10px; /* distance in the container */
}

.grid-container > div {
    padding: 20px;
    border: 2px solid #4CAF50; 
    box-sizing: border-box; /* includes border in the width */
}

#orientationData {
    background-color: #fafad2;
    grid-row: 2;
    grid-column: 1;
}

#rotationData {
    background-color: #fafad2;
    grid-row: 3;
    grid-column: 1;
}

#spaceContainer {

    grid-row: 3;
    grid-column: 2;
    width: 60vw;
    height: 50vh;
    object-fit: cover;
}

#container {
    width: 60vw;
    height: 50vh;
    grid-row: 3;
    grid-column: 2;
    overflow: hidden;
    position: relative;
 
    background-size: auto 100%;     /* height of the picture is set to 100% of the container, width is proportional*/
    background-repeat: repeat-x;  
    background-position-x: 50%;
    background-position-y: center;
}

#image {
    height: 100%;
}

#requestButton {
    padding: 15px 30px;
    grid-column: 1;
    grid-row: 1;
}

