body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Three columns that are all the same size */
    grid-template-rows: repeat(3, auto); /* Three rows with dynamic height */
    gap: 10px; 
    width: 100%; 
    margin: auto; /* centers the grid */
    padding: 10px; /* distance in the container */
}

.grid-container > div {
    padding: 20px;
    border: 2px solid #4CAF50; 
    box-sizing: border-box; /* includes border in the width */
}

#headerDiv {
    background-color: aliceblue;
    grid-column: 2;
    grid-row: 1;
}

#destination-box {
    background-color: aliceblue;
    grid-column: 2;
    grid-row: 2;
}

#thumbnail-container {
    background-color: aliceblue;
    grid-row: 3;
    grid-column: 2;
    width: 70vw;
    height: 70vh;

    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
    row-gap: 40px;
    justify-content: flex-start;
    align-content: flex-start;
}

.thumbnail-box {
    border: 2px solid #0f0202;
    background-color: white;
    border-radius: 10px;     /* Abgerundete Ecken */
    overflow: hidden;        /* Verhindert, dass das Bild aus dem Kasten herausragt */
    text-align: left;      /* Zentriert den Text */
    width: 20vw;
    height: 20vh;
}

.thumbnail-box:hover {
    transform: scale(1.03); /* mages the box larger */
}

.thumbnail-picture {
    display: block;
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.thumbnail-text {
    border-top: 2px solid #0f0202;
    display: block;
}