body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Three columns that are all the same size */
    grid-template-rows: repeat(3, auto); /* Three rows with dynamic height */
    width: 100%; 
    margin: auto; /* centers the grid */
}

.grid-container > div {
    padding-left: 10px;
    box-sizing: border-box; /* includes border in the width */
}

#headerDiv {
    height: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1;
    grid-column: 2;
    padding: 10px; /* distance in the container */
    margin-bottom: 15px; 
}

#destinationsDiv {
    grid-row: 2;
    grid-column: 2;
    margin-bottom: 0px;
    height: flex;
    width: flex;
}

#thumbnail-container {
    grid-row: 3;
    grid-column: 2;
    margin-bottom: 50px;

    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
    row-gap: 40px;
    justify-content: flex-start;
    align-content: flex-start;
}

.thumbnail-box {
    border: 2px solid #0f0202;
    background-color: white;
    border-radius: 10px;     /* Abgerundete Ecken */
    overflow: hidden;        /* Verhindert, dass das Bild aus dem Kasten herausragt */
    text-align: left;      /* Zentriert den Text */
}

.thumbnail-box:hover {
    transform: scale(1.03); /* mages the box larger */
}

.thumbnail-picture {
    display: block;
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.thumbnail-text {
    border-top: 2px solid #0f0202;
    display: block;
}

h1 {
    margin-bottom: 0px;
}

/* Laptops/Desktops */
@media (min-width: 1200px) {

    h1 {
        font-size: 140px;
        color: #0f0202;
        margin: 40px;
    }    

    h2 {
        font-size: 35px;
    }

    #headerDiv {
        margin-bottom: 15px;
        height: flex;
    }

    #thumbnail-container {
        width:63vw;
        height: 70vh;
        gap: 10px;
        row-gap: 40px;
    }

    .thumbnail-box {
        width: 20vw;
        height: 20vh;
    }
}

/* Smartphones (portrait) */
@media (max-width: 800px) and (orientation: portrait) {

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 25px;
    }

    #thumbnail-container {
        width:100vw;
        gap: 10px;
        row-gap: 40px;
    }

    .thumbnail-box {
        width: 40vw;
        height: 17vh;
    }
}

/* Smartphones (landscape) */
@media (max-width: 800px) and (orientation: landscape) {

    h1 {
        font-size: 100px;
    }

    h2 {
        font-size: 30px;
    }

    #thumbnail-container {
        width: 80vw;
        gap: 10px;
        row-gap: 40px;
    }

    .thumbnail-box {
        width: 30vw;
        height: 30vh;
    }
}

/* Tablets (portrait) */
@media (min-width: 801px) and (max-width: 1200px) and (orientation: portrait) {

    h1 {
        font-size: 120px;
        margin: 30px;
    }

    h2 {
        font-size: 35px;
    }

    #thumbnail-container {
        width: 80vw;
        gap: 10px;
        row-gap: 40px;
    }

    .thumbnail-box {
        width: 35vw;
        height: 17vh;
    }
}

/* Tablets (landscape) */
@media (min-width: 801px) and (max-width: 1200px) and (orientation: landscape) {

    h1 {
        font-size: 140px;
        margin: 40px;
    }

    h2 {
        font-size: 35px;
    }

    #headerDiv {
        margin-bottom: 15px;
        height: flex;
    }

    #thumbnail-container {
        width: 65vw;
        gap: 10px;
        row-gap: 40px;
        margin-bottom: 40px;
    }

    .thumbnail-box {
        width: 20vw;
        height: 20vh;
    }
}